
{% extends 'tops/base.html' %}
{% load static %}
{% block content %}

<section class="bg-white dark:bg-gray-900">
<div class="">
    <h1 class="text-center text-4xl p-8">デッキ一覧</h1>
</div>
<div class="grid grid-cols-4 gap-4 p-8">
    {% for deck in decks %}
    <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            {% if deck.image %}
            <img class="rounded-t-lg w-full h-32 object-cover" src="{{ deck.image.url }}" alt="{{ deck.title }} Image" />
            {% endif %}
        </a>
        <div class="p-5 justify-between h-full">
            <div>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ deck.title }}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ deck.description }}</p>
            </div>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                練習する
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="flex justify-center p-8">
<a href="{% url 'add_deck' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">デッキを作る</a>
</div>
</section>



{% endblock content %}