{% extends 'tops/base.html' %}

{% block content %}

<h1 class="text-center text-4xl">Your Flashcards</h1>



<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Word</th>
        <th>Definition</th>
        <th>Sentence</th>
      </tr>
    </thead>
    <tbody>
      {% for flashcard in flashcards %}
      <tr>
        <th>{{ forloop.counter }}</th>
        <td>{{ flashcard.word }}</td>
        <td>{{ flashcard.definition }}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="flex justify-center py-8">
  <a href="{% url 'flashcard_create' %}" class="btn btn-info" tabindex="-1" role="button">Add Flashcard</a>
</div>
{% endblock %}
