{% extends 'tops/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Start Your Learning</h1>
      <p class="mb-5"></p>
      <a class="btn btn-info" href="#" role="button">Make Your Deck</a>
      <a class="btn btn-info" href="#" role="button">Start Practice</a>
    </div>
  </div>
</div>

</div>
{% else %}
<img class="" alt="hero" src="{% static 'img/main2.png' %}">


{% endif %}


{% endblock content %}