{% extends 'tops/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<h1 class="text-center text-4xl">Start Your Learning</h1>
<div class="flex flex-wrap justify-center">
  {% for flashcard in flashcards %}
    <div class="card w-96 bg-base-100 shadow-xl m-4">
      <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ flashcard.word }}</h2>
        <p>{{ flashcard.definition }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
<div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">EnglishMate</h1>
      <p class="mb-5">EnglishMate is the learning English vocabraly service<br>Surpport your English learning</p>
      <a class="btn btn-info" href="{% url 'login' %}" role="button">Getting started</a>
    </div>
  </div>
</div>
{% endif %}


{% endblock content %}